@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#bodyImg{
    background-image: url("img/Fundo\ introdução.png");
    min-height: 500px;
    background-attachment: fixed;
}

header{
    display: flex;
    justify-content: space-between;
}
        
.logo:not(:hover){
    margin-top: 40px;
    margin-left: 50px;
    width: 100px;
    height: 100px;
    transition: .5s;
}

.logo:hover{
    margin-top: 40px;
    margin-left: 50px;
    width: 100px;
    height: 100px;
    transition: .5s;
    transform: scale(1.5,1.5);
    filter: drop-shadow(0 0 10px #3377D1);
}

#ulHeader{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.liHeader{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    color: #FFF;
}

#nome{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 60px;
    color: #5999ec;
    text-shadow: 5px 5px 20px #294061;
}

#subTitulo{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #3377D1;
    text-shadow: 5px 5px 20px #294061;
}

#cursando{
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: #a0a0a0;
    text-shadow: 5px 5px 20px #294061;
}

.scrollIconDiv{
    display: flex;
    justify-content: center;
}
.scrollIcon{
    margin-top: 100px;
    width: 50px;
    height: 50px;
    margin-bottom: 150px;
}

#main1 {
    background-color: #1C1C1C;
    width: 100%;
    height: 100vh; 
}

.iconsCircles{
    display: flex;
    justify-content: space-evenly;
}

.circles{
    margin-top: 150px;
    width: 80px;
    height: 80px;
    background-image: linear-gradient(#82b8ff, #3377D1);
    border-radius: 100%;
}

.iconInsideCircles{
    height: 50px;
    width: 50px;
    color: #FFF;
}

.textsCirclesDiv{
    display: flex;
    justify-content: space-evenly;
}

.textCircles{
        color: #82b8ff;
        font-weight: 600;
        margin-top: 20px;
}

#circleSobre{
    margin-left: 22px;
}   

#circleConhecimentos{
    margin-right: 10.5px;
}

#circleIdiomas{
    margin-right: 35px;
}

.descriptionsDiv{
    display: flex;
    justify-content: space-evenly;
}

.descriptionDiv{
    color: #a0a0a0;
    font-weight: 300;  
    margin-top: 20px;
    text-align: center;
}

#description1{
    margin-left: 100px;
    width: 300px;
}

#description2{
    width: 300px;
}

#description3{
    margin-right: 100px;
    width: 300px;
}

.iconsInsideCircle{
    color: #FFF;
    margin-top: 20px;
    margin-left: 14.8px;
    width: 50px;
    height: 40px;
}