@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#bodyImg{
    background-image: url("img/Fundo\ introdução.png");
    min-height: 500px;
    background-attachment: fixed;
}

header{
    display: flex;
    justify-content: space-between;
}
        
.logo:not(:hover){
    margin-top: 40px;
    margin-left: 50px;
    width: 100px;
    height: 100px;
    transition: .5s;
}

.logo:hover{
    margin-top: 40px;
    margin-left: 50px;
    width: 100px;
    height: 100px;
    transition: .5s;
    transform: scale(1.5,1.5);
    filter: drop-shadow(0 0 10px #FFF);
}

#divHeader{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.itemHeader{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    color: #FFF;
}

#nome{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 60px;
    color: #5999ec;
}

#subTitulo{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #3377D1;
}

#cursando{
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: #a0a0a0;
    text-shadow: 0 0 10px #22272E;
}

.divScrollIcon{
    display: flex;
    justify-content: center;
}
.scrollIcon{
    margin-top: 100px;
    width: 50px;
    height: 50px;
    margin-bottom: 150px;
}

#main1 {
    background-color: #1C1C1C;
    width: 100%;
    height: 100vh; 
}

.divCirculos{
    display: flex;
    justify-content: space-evenly;
}

.circulos{
    margin-top: 150px;
    width: 80px;
    height: 80px;
    background-image: linear-gradient(#82b8ff, #3377D1);
    border-radius: 100%;
}

.iconesDentroCirculo{
    height: 40px;
    width: 40px;
    color: #FFF;
    margin-left: 20px;
    margin-top: 20px;
}

.divTextoCirculos{
    display: flex;
    justify-content: space-evenly;
}

.textoCirculos{
        color: #82b8ff;
        font-weight: 600;
        margin-top: 20px;
}

#circuloSobre{
    display: flex;
    justify-content: center;
}   

#circuloConhecimentos{
    margin-right: 10.5px;
}

#circuloIdiomas{
    margin-right: 35px;
}

#divPaletaCompleta{
    margin-top: 200px;
}
#paleta{
    margin-left: 450px;
    margin-right: 450px;
    filter: drop-shadow(0 0 5px #a0a0a0);
}

#divTituloPaleta{
    display: flex;
    justify-content: center;
}

#tituloPaleta{
    margin-bottom: 50px;
    color: #3377D1;
}